.home-container{
 color: black;
 width: 100%;
 height: fit-content;
 min-height: 500px;
 display: flex;
 position: relative;
}
.AboutBrahim button{
    border: none;
    color: blueviolet;
    font-size: 40px;
    font-weight: bold;
    background: white;
}
  
@media(max-width:997px)
{
    .home-container{
        flex-direction: column;
    }
}
.home-container .space-witi{
    width: calc(60% - 60px);
    height: fit-content;
    padding: 110px 50px 110px 110px;
    
    text-align: start;
    margin-top: -10px;
}
.space-witi h4,h1{
    font-weight: bold;
    font-size: 44px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.space-witi h4{
    margin-bottom: 0px;
    font-size: 24px;
}
.space-witi p{
    font-size: 20px;
}
.fb-icon{
    color: blueviolet;
    font-size: 35px;
    margin-right: 15px;
    border-radius: 50%;
}
.fb-icon:hover {
    color: rgb(73, 14, 129);
}
.space-imag{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons
{
    margin-top: 15px;
}
.back-img {
    background-color: blueviolet;
    height: 300px;
    width: 340px;
    margin-top: -150px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26%;
    animation: App-logo-spin infinite 5s linear;
}
@media(max-width:996px)
{
.back-img{
    display: none;
}
.home-container .space-witi{
    width: 90%;
    
}
}

@media(max-width:776px)
{

.home-container .space-witi{
    width: 90%;
    padding: 20px; 
}
}
.back-img img{
    height: 300px;
    width: 260px;
    padding-left: 50px;
}


.about-con{

}
.about-con .witing{
    z-index: 5;
    color: black;
}
.btns{
    margin: 15px -10px;
}
.dis-btn{
    padding: 10px 10px;
    width: fit-content;
    height: 42px;
    background-color: blueviolet;
    font-size: 20px;
    margin-left: 8px;
    padding-left:15px ;
    padding-right:15px ;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}
.dis-btn:hover{
    background-color:rgb(73, 14, 129); ;
}

.grid-card{
    margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

/*animations*/

  
  @keyframes App-logo-spin {
    from {
     margin-top: 50px;
    }
    to {
        margin-top: 150px;
    }
  }
