.home-container{
color: black;
 width: 100%;
 height: 100vh;


 display: flex;
}
@media(max-width:558px)
{
    .home-container{
        flex-direction: column;
    }
}
.home-container .space-witi{
    width: calc(60% - 60px);
    height: fit-content;
    padding: 50px 65px;
    text-align: start;
}
.space-witi h4,h1{
    font-weight: bold;
    font-size: 44px;
    margin-top: 0px;
}
.space-witi h4{
    margin-bottom: 0px;
    font-size: 24px;
}
.space-witi p{
    font-size: 20px;
}
.fb-icon{
    color: blueviolet;
    font-size: 40px;
    margin-right: 25px;
    border-radius: 50%;
}
.space-imag{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-img {
    background-color: blueviolet;
    height: 300px;
    width: 340px;
    margin-top: -130px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26%;
}
.back-img img{
    height: 300px;
    width: 260px;
    padding-left: 50px;


}

.about-con{
    background-image: url('../imgs/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    opacity: 0.6;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}
.about-con .witing{
    z-index: 5;
    color: black;
}