.footer-con{
   /* width: 94%;
    /*  width: calc(100%-120px);
    height: fit-content;
    margin-top: 40px;
    background: black;
    z-index: 10;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    gap: 50px;
    flex-wrap: wrap;
    padding: 70px 50px;
    */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    background: black;
    padding: 70px 50px;
    color: white;
}



.diff-self{
    width: 300px;

}
.footer-icons{
    width: 170px;
    height: fit-content;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
.footer-icons .fb-icon{
    color: white;
    font-size:50px;
    margin: 5px;
}
.import-link{
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}


.link-icon{
    font-size: 25px;
    margin-right: 5px;
    color: blueviolet;
}
.link-icon:hover{
    font-size:28px ;
}
.spann{
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 15px;
    align-items: center;
}
.spann p{
    font-size: 18px;

}
.job-info{
    width: 320px;
    height: fit-content;

}
.footer-imgs
{
    width: 220px;
}
.footer-imgs img{
    width: 100px;
    height: 100px;
    margin: 2px;
}

@media(min-width:1400px){
    .footer-con{
        gap: 80px;

    }
}
